In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import os
import glob

In [2]:
#Import files
os.chdir("/Users/naroacorettisanchez/Documents/GitHub/MultifunctionalVehicleFleets/results/ MIXED_SS_fixedfleet")
#os.chdir("/Users/naroacorettisanchez/Documents/GitHub/MultifunctionalVehicleFleets/results/38reps_MIXED_fullData_final")

extension = 'csv'

#Bike tasks
filenames =[i for i in glob.glob('autonomousBike_trip_event*.{}'.format(extension))]

#Create a list with the dataframes in filenames
dfs = []
for filename in filenames:
    df_tasks = pd.read_csv(filename)
    dfs.append(df_tasks)

In [3]:
dfs[0].head()

,Cycle,Day,Time,NumBikes,Battery,AutDrivingSpeed,MaxBiddingTime,UrgencyPerson,UrgencyPackage,UrgencyWeight,...,Event,Activity,Message,Start Time,End Time,Duration (min),Distance Traveled,Start Battery %,End Battery %,Battery Gain %
0,1,1,00:00:05,475,70000.0,8.0,0.5,1,0,0.25,...,START: wandering,0,nil,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1,00:00:05,475,70000.0,8.0,0.5,1,0,0.25,...,START: wandering,0,nil,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,1,00:00:05,475,70000.0,8.0,0.5,1,0,0.25,...,START: wandering,0,nil,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,1,00:00:05,475,70000.0,8.0,0.5,1,0,0.25,...,START: wandering,0,nil,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,1,00:00:05,475,70000.0,8.0,0.5,1,0,0.25,...,START: wandering,0,nil,NaN,NaN,NaN,NaN,NaN,NaN,NaN